/*-----------allmänna-------------*/
:root {
    --background-color-1: #ffffff;
    --background-color-3: #b3b3b389;
    --link-color1: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 0;
    position: absolute;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

a,
p,
i,
span {
    color: var(--link-color1);
}

span,
p {
    font-size: 1.5em;
}

svg {
    margin-left: 5px;
}

header,
main,
aside {
    padding: 0 2rem;
}

.hidden {
    display: none;
}

.resize {
    width: 100%;
    height: auto;
}

.size {
    font-size: 1em;
}

button[type="button"] {
    font-size: 1em;
}

/*-----------layout-------------*/
.page-layout-grid {
    max-width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
}

/*-----------header-------------*/
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 9rem;
    grid-template-areas:
        "logo logo"
        "search icons"
        "nav nav";
    padding-top: 2rem;
    align-items: center;
}

.header-logo {
    grid-area: logo;
}

.form-div {
    grid-area: search;
    margin-top: 1rem;
}

#form {
    width: 100%;
}

input[type=text] {
    width: 100%;
    height: 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    animation: myfirst 5s infinite;
}

form>svg {
    position: absolute;
    margin-top: 5px;
    width: 1.5rem;
    height: 1.5rem;
}

form>input {
    text-indent: 2.5rem;
}

.icons {
    grid-area: icons;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}

.icons a {
    margin: 10px;
}

.icons a:hover {
    transform: scale(2);
}

nav {
    grid-area: nav;
}

nav li {
    margin-right: 15px;
    font-weight: bold;
    padding-left: 0;
}

nav a {
    color: var(--link-color1);
    font-size: 1.5em;
}

nav a:hover {
    color: green;
}

/*-----------main-------------*/
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "banner-main"
        "banner-first"
        "banner-second";
}

/*---------section-main---------*/
.banner-main {
    grid-area: banner-main;
}

.banner-main>div {
    padding: 10px;
    animation: myfirst 5s infinite;
}

@keyframes myfirst {
    0% {
        border: 3px solid rgb(8, 1, 137)
    }

    50% {
        border: 3px solid green
    }

    100% {
        border: 3px solid rgb(1, 78, 99)
    }
}

.banner-main-text {
    text-align: center;
    padding: 20px;
}

.banner-main-text h1 {
    font-size: 2.5em;
    font-weight: bold;
}

/*-------section-second--------*/
.banner-second {
    grid-area: banner-second;
    padding-top: 2rem;
}

.banner-second-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
}

.item-1 {
    grid-area: 1/1/2/2;
}

.item-2 {
    grid-area: 2/1/3/2;
}

.item-3 {
    grid-area: 3/1/4/2;
}

.item-4 {
    grid-area: 4/1/5/2;
}

.item-5 {
    grid-area: 5/1/6/2;
}

.item-6 {
    grid-area: 6/1/7/2;
}

.item-7 {
    grid-area: 7/1/8/2;
}

.item-8 {
    grid-area: 8/1/9/2;
}

.banner-second-item {
    display: grid;
    grid-template-columns: 30% 1fr 15% 10%;
    grid-template-rows: 15% 1fr 10% 10%;
    position: relative;
}

.img-grid-1,
.img-grid-2,
.img-grid-3,
.img-grid-4,
.img-grid-5,
.img-grid-6,
.img-grid-7,
.img-grid-8 {
    grid-area: 1/1/4/5;
}

.hidden-row {
    overflow: hidden;
    height: 0;
    row-gap: 0 !important;
}

.img-girl {
    position: absolute;
    z-index: -1;

}

.hover:hover {
    opacity: 0;
}

.banner-second-text1,
.banner-second-text2,
.banner-second-text3,
.banner-second-text4,
.banner-second-text5,
.banner-second-text6,
.banner-second-text7,
.banner-second-text8 {
    grid-area: 4/1/5/5;
}

.nyhet {
    width: 100%;
    height: 60%;
    border-radius: 15%;
    background-color: var(--link-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
    z-index: 1;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.nyhet>span {
    color: white;
}

.place-svg {
    grid-area: 3/3/4/4;
    z-index: 1;
    width: 100%;
}

.text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    max-height: 100%;
}

.text>span:last-child {
    flex-basis: 100%;
}

/*-----------aside-------------*/
aside {
    grid-area: aside;
}

.aside>div {
    padding-bottom: 2rem;
}

.aside>div>div {
    padding: 1rem 0;
}

.aside div span {
    padding-left: 0.5em;
}

/*-----------footer------------*/
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "footer-first"
        "footer-copyright";
    border-top: 1px solid black;
    max-width: 100%;
    margin-bottom: 2rem;
}

.footer-first {
    grid-area: footer-first;
}

.footer-copyright {
    grid-area: footer-copyright;
    display: flex;
    justify-content: center;
    height: 3rem;

}

.footer-copyright>svg {
    margin-right: 0.5rem;
}

.accordion-body li {
    margin-bottom: 0.5rem;
    font-size: 1.5em;
}



@media only screen and (min-width: 640px) {

    span,
    p {
        font-size: 1em;
    }

    .size {
        font-size: 0.7em;
    }

    header {
        grid-template-columns: 35% 35% 1fr;
        grid-template-areas:
            "logo search icons"
            "nav nav nav";
    }

    .form-div {
        margin-left: 1rem;
        margin-top: 0;
    }

    .icons {
        margin-top: 0;
    }

    input[type=text] {
        font-size: 0.8em;
        height: auto;
    }

    form>svg {
        width: 1rem;
        height: 1rem;
    }

    form>input {
        text-indent: 1.5rem;
    }

    nav ul {
        margin: 1rem 0;
    }

    nav li {
        display: inline;
    }

    nav a {
        font-size: 1em;
    }

    /*---------section-main---------*/

    .banner-main-text h1 {
        font-size: 2em;
    }

    /*--------section-second--------*/
    .banner-second-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .hidden-row {
        overflow: none;
        height: auto;
        row-gap: 2rem;
    }

    .item-2 {
        grid-area: 1/2/2/3;
    }

    .item-3 {
        grid-area: 2/1/3/2;
    }

    .item-4 {
        grid-area: 2/2/3/3;
    }

    .item-5 {
        grid-area: 3/1/4/2;
    }

    .item-6 {
        grid-area: 3/2/4/3;
    }

    .item-7 {
        grid-area: 4/1/5/2;
    }

    .item-8 {
        grid-area: 4/2/5/3;
    }

    .place-svg {
        padding-bottom: 15px;
    }

    /*-----------aside-------------*/
    .aside>div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .aside>div>div {
        width: 50%;
        padding: 2rem 0;
        padding-left: 1rem;
    }

    /*-----------footer------------*/
    footer {
        background-color: var(--background-color-3);
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
    }

    #accordionFlushExample {
        display: none;
    }

    .footer-variant2 {
        display: flex;
        padding: 1rem 1.5rem;
    }

    .footer-variant2>div {
        margin-right: 5rem;
    }

    .footer-variant2 li {
        margin: 1rem 0;
    }

    .footer-variant2 li:first-child {
        font-weight: bold;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1024px) {

    /*-----------header-------------*/
    header {
        grid-template-columns: 25% 25% 1fr;
    }

    nav li.hidden {
        display: inline;
    }

    /*---------section-main---------*/
    .banner-main>div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .banner-main-photo>img {
        min-width: 600px;
        height: 400px;
    }

    .banner-main-photo {
        margin-right: 5px;
    }

    /*--------section-first--------*/
    section.hidden {
        display: block;
    }

    .banner-first {
        grid-area: banner-first;
    }

    .banner-first>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        column-gap: 2rem;
    }

    .banner-first>div>article {
        position: relative;
        flex-grow: 1;
    }

    .banner-first-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-size: 1.5em;
        color: black;
    }

    /*--------section-second--------*/
    .banner-second-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .item-2 {
        grid-area: 1/2/2/3;
    }

    .item-3 {
        grid-area: 1/3/2/4;
    }

    .item-4 {
        grid-area: 1/4/2/5;
    }

    .item-5 {
        grid-area: 2/1/3/2;
    }

    .item-6 {
        grid-area: 2/2/3/3;
    }

    .item-7 {
        grid-area: 2/3/3/4;
    }

    .item-8 {
        grid-area: 2/4/3/5;
    }

    .place-svg {
        width: 80%;
        padding-bottom: 20px;
    }

    .nyhet {
        margin-top: 1.5rem;
        margin-left: 1rem;
    }

    /*-----------aside-------------*/
    .aside div {
        flex-wrap: nowrap;
    }

    .aside>div>div {
        padding: 2.5rem 0;
    }

    span {
        font-size: 1em;
    }

    .size {
        font-size: 0.7em;
    }
}