<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <link rel="stylesheet" href="/stylesheets/admin/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Administration</h2>
      </header>
      <aside>
        <h2>Produkter</h2>
      </aside>
      <article>
        <div>
          <h1>Produkter</h1>
          <a href="http://localhost:3000/admin/products/new">
            <div class="button">Ny produkt</div>
          </a>
          <table>
            <tr>
              <th>Namn</th>
              <th>SKU</th>
              <th>Pris</th>
            </tr>
            <tr>
              <td class="no-bottom-border">Svart T-Shirt</td>
              <td>AAA111</td>
              <td>199</td>
            </tr>
            <tr>
              <td>Vit T-Shirt</td>
              <td>BBB111</td>
              <td>199</td>
            </tr>
            <tr>
              <td>...</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </article>
    </div>
  </body>
</html>
